In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor 
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
df = pd.read_csv("H:/FHV Accessibility/Research Projects/Data/fhv_wav_201901-06_run-2019_08_16_.csv")
df.head()

C:\Users\changje\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (2,3,4,7,9,10,13,14,15,16,17,19,20,21,22,33,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,TripId,Ride_id,Route_id,Hour_id,Dispatching_base_num,Origination_Base_number,HVFHV_License_num,Pickup_DateTime,on_scene_DateTime,...,Oct_miles,DateTimeID,PUlocationID,DOlocationID,SR_Flag,SSR_Flag,SR_TripID,TR_Flag,FileID,LoadDateTime
0,1,682972252.0,NaN,NaN,NaN,B01436,NaN,NaN,2019-01-01 00:01:27,NaN,...,NaN,2019010100,NaN,265.0,NaN,NaN,NaN,NaN,44372.0,2019-02-19 12:03:36
1,2,661866750.0,NaN,NaN,NaN,B02395,NaN,NaN,2019-01-01 00:17:02,NaN,...,NaN,2019010100,112.0,112.0,NaN,NaN,NaN,NaN,43998.0,2019-02-01 23:46:37
2,3,661866751.0,NaN,NaN,NaN,B02395,NaN,NaN,2019-01-01 00:28:24,NaN,...,NaN,2019010100,112.0,145.0,NaN,NaN,NaN,NaN,43998.0,2019-02-01 23:46:37
3,4,661866752.0,NaN,NaN,NaN,B02395,NaN,NaN,2019-01-01 00:40:19,NaN,...,NaN,2019010100,145.0,225.0,NaN,NaN,NaN,NaN,43998.0,2019-02-01 23:46:37
4,5,661876022.0,NaN,NaN,NaN,B02395,NaN,NaN,2019-01-01 00:38:12,NaN,...,NaN,2019010100,260.0,129.0,NaN,NaN,NaN,NaN,43998.0,2019-02-01 23:47:01

In [3]:
df.columns.values

array(['Unnamed: 0', 'TripId', 'Ride_id', 'Route_id', 'Hour_id',
       'Dispatching_base_num', 'Origination_Base_number',
       'HVFHV_License_num', 'Pickup_DateTime', 'on_scene_DateTime',
       'trip_Request_DateTime', 'TLC_drivers_License_number',
       'License_plate', 'Affiliated_base_number', 'Pickup_location_type',
       'Pickup_location_name', 'Pickup_longitude', 'Pickup_latitude',
       'DropOff_datetime', 'Dropoff_location_type',
       'Dropoff_location_name', 'Dropoff_longitude', 'Dropoff_latitude',
       'trip_miles', 'trip_time_in_secs', 'base_passenger_fare', 'tolls',
       'Black_car_fund', 'sales_tax', 'congestion_surcharge', 'tips',
       'driver_pay', 'number_passenger', 'congestion_zone_Flag',
       'Shared_Request_Flag', 'Shared_Match_Flag', 'access_a_ride_Flag',
       'WAV_Request_Flag', 'Oct_time', 'Oct_miles', 'DateTimeID',
       'PUlocationID', 'DOlocationID', 'SR_Flag', 'SSR_Flag', 'SR_TripID',
       'TR_Flag', 'FileID', 'LoadDateTime'], dtype=object)

In [4]:
# Convert long and lat values to numeric
df['Pickup_longitude'] = pd.to_numeric(df['Pickup_longitude'], errors='coerce')
df['Pickup_latitude'] = pd.to_numeric(df['Pickup_latitude'], errors='coerce')

# Drop nulls
df.dropna(subset=['Pickup_longitude'], inplace=True)
df.dropna(subset=['Pickup_latitude'], inplace=True)

# Check for nulls
df.apply(lambda x: x.isnull().sum())

Unnamed: 0                         0
TripId                        667240
Ride_id                       107522
Route_id                      702002
Hour_id                       689278
Dispatching_base_num               0
Origination_Base_number       229377
HVFHV_License_num             107522
Pickup_DateTime                    0
on_scene_DateTime             231996
trip_Request_DateTime         101475
TLC_drivers_License_number         3
License_plate                      0
Affiliated_base_number        667367
Pickup_location_type          679857
Pickup_location_name          749534
Pickup_longitude                   0
Pickup_latitude                    0
DropOff_datetime                   0
Dropoff_location_type         679857
Dropoff_location_name         749551
Dropoff_longitude                 19
Dropoff_latitude                  19
trip_miles                    107522
trip_time_in_secs             107522
base_passenger_fare           107522
tolls                         107522
Black_car_fund                107522
sales_tax                     107522
congestion_surcharge          107949
tips                          107522
driver_pay                    107522
number_passenger              153823
congestion_zone_Flag          750238
Shared_Request_Flag            94558
Shared_Match_Flag              94558
access_a_ride_Flag             94558
WAV_Request_Flag               94558
Oct_time                      107522
Oct_miles                     107522
DateTimeID                         0
PUlocationID                   14472
DOlocationID                   14120
SR_Flag                       752382
SSR_Flag                      761709
SR_TripID                     752382
TR_Flag                       761255
FileID                        667240
LoadDateTime                  655680
dtype: int64

In [5]:
features=df[['Pickup_longitude']]
labels=df[['Pickup_latitude']]

# Split dataset into training set and testing set
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.5) # 50% training and 50% test

In [6]:
# Random Forest
rf = RandomForestRegressor(n_estimators=500)

# Fit on training data
rf.fit(train_features, train_labels)

# Predict on test data
long_pred = rf.predict(test_features)
lat_pred = rf.predict(test_labels)

long_pred, lat_pred

C:\Users\changje\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

(array([40.72933438, 40.69771524, 40.75097719, ..., 40.74089042,
        40.73644098, 40.74998279]),
 array([-73.9552196 , -73.9299961 , -73.84814165, ..., -73.92411745,
        -73.84012691, -73.86214226]))

In [7]:
# Evaluate: mean absolute error, mean squared error, root mean squared error
# (A value of 0 indicates no error)

# mean absolute error: is the average of the absolute differences between predictions and actual values. 
# mean squared error: provides a gross idea of the magnitude of error.
# root mean squared error: the absolute value of the mean squared error.

print('Mean Absolute Error:', metrics.mean_absolute_error(test_labels, long_pred, lat_pred))
print('Mean Squared Error:', metrics.mean_squared_error(test_labels, long_pred, lat_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(test_labels, long_pred, lat_pred)))

Mean Absolute Error: 0.04398124724324363
Mean Squared Error: 0.0033527372958477067
Root Mean Squared Error: 0.05790282632003128

In [8]:
# Convert arrays to table
long_df = pd.DataFrame(long_pred, columns=["long"])
lat_df = pd.DataFrame(lat_pred, columns=["lat"])

new_df = pd.concat([long_df, lat_df], axis=1)
new_df

             long        lat
0       40.729334 -73.955220
1       40.697715 -73.929996
2       40.750977 -73.848142
3       40.704995 -73.762127
4       40.779195 -73.850628
5       40.737365 -73.965704
6       40.737946 -73.930359
7       40.724028 -73.791382
8       40.732218 -73.881435
9       40.744347 -73.837038
10      40.742405 -73.833341
11      40.715491 -73.854345
12      40.738355 -73.980870
13      40.768767 -73.930888
14      40.747347 -73.918248
15      40.740079 -73.742937
16      40.745408 -73.869651
17      40.743610 -73.952077
18      40.769536 -73.819470
19      40.791296 -73.906101
20      40.719171 -73.913181
21      40.685114 -73.762261
22      40.739789 -73.952021
23      40.725398 -73.773939
24      40.722630 -73.931205
25      40.727811 -73.863625
26      40.750305 -73.903770
27      40.729153 -73.898692
28      40.728200 -73.966427
29      40.727723 -73.811330
...           ...        ...
381571  40.733294 -73.913301
381572  40.762716 -73.840794
381573  40.737555 -73.958018
381574  40.712179 -73.863625
381575  40.646721 -73.762261
381576  40.728694 -73.815995
381577  40.751287 -73.954328
381578  40.729953 -73.782971
381579  40.737899 -73.805539
381580  40.739755 -73.742992
381581  40.713228 -73.850818
381582  40.727601 -73.980870
381583  40.732176 -73.819236
381584  40.732522 -73.935364
381585  40.734146 -73.680887
381586  40.717809 -73.843810
381587  40.733043 -73.793968
381588  40.736856 -73.894491
381589  40.723283 -73.824949
381590  40.717628 -73.903095
381591  40.733462 -73.987825
381592  40.753893 -73.761387
381593  40.727225 -73.848119
381594  40.734279 -73.903626
381595  40.745135 -73.796445
381596  40.740450 -73.812849
381597  40.776124 -73.785881
381598  40.740890 -73.924117
381599  40.736441 -73.840127
381600  40.749983 -73.862142

[381601 rows x 2 columns]

In [9]:
# Export test data as csv 
header = ["long", "lat"]
new_df.to_csv('H:/FHV Accessibility/Research Projects/A Look into For Hire Vehicles Accessibility/Data/Coordinates from Random Forest Model.csv', columns=header)